#### Section 1: Load Setup

- Import libraries

In [3]:
# Importing necessary libraries
import pandas as pd

# Loading 'transformed_full.csv' and 'transformed_incremental.csv'
full_data = pd.read_csv("transformed_full.csv")
incremental_data = pd.read_csv("transformed_incremental.csv")

#### Section 2: Load Full Transformed Data

In [4]:
# Loading 'transformed_full.csv' to Parquet
full_data.to_parquet('loaded_data/full_data.parquet', index=False)

#### Section 3: Load Incremental Transformed Data

In [5]:
# Loading 'transformed_incremental.csv' to Parquet
incremental_data.to_parquet('loaded_data/incremental_data.parquet', index=False)

#### Section 4: Verification (read parquet and show .head())

In [6]:
# Previewing stored results
loaded_full_data = pd.read_parquet('loaded_data/full_data.parquet')
print(loaded_full_data.head())

loaded_incremental_data = pd.read_parquet('loaded_data/incremental_data.parquet')
print(loaded_incremental_data.head())

    id  Mitai_Sold        Date  Amount         Last_Updated Amount_Category
0  636   Ras Malai  2024-11-02     376  2024-11-02 05:31:00          0-1000
1  405       Barfi  2024-11-02    1384  2024-11-02 04:28:00       1001-2000
2  332   Badam Pak  2024-11-02    4000  2024-11-02 06:12:00       4001-5000
3  291       Barfi  2024-11-02    1002  2024-11-02 13:17:00       1001-2000
4  854  Kaju Katri  2024-11-03    2202  2024-11-03 01:55:00       2001-3000
    id   Mitai_Sold        Date  Amount         Last_Updated Amount_Category
0  366        Barfi  2024-12-01    2776  2024-12-01 18:44:00       2001-3000
1  520        Barfi  2024-12-01    2488  2024-12-01 12:09:00       2001-3000
2  675  Gulab Jamun  2024-12-02    3890  2024-12-02 06:57:00       3001-4000
3  121    Ras Malai  2024-12-02    3838  2024-12-02 03:19:00       3001-4000
4  814        Ladoo  2024-12-02    4084  2024-12-02 02:38:00       4001-5000